<% include head.ejs %>
<div style="background:inherit;width:auto;padding:7.8%;"></div>
<div class="container-fluid">
	<div class="container">	
	<div class="row" style="margin-left: auto;margin-right: auto;">

		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" 
		style="margin-left:auto;margin-right:auto;background-color:#777;padding:5%;
		border-radius:40%;border:dashed 9.45px #111;">
			<div class="text-center">
				<div class="h1" style="color:#dcdcdc;padding-bottom:2rem;">View In House Articals</div>
				<a href="artical/view" class="btn" style="font-size:3.9rem"><i class="fa fa-scissors fa-rotate-180	" aria-hidden="true"></i></a>
			</div>
		</div>
		<!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" ></div> -->
		
		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"  
		style="margin-left:auto;margin-right:auto;background-color:#777;padding:5%;
		border-radius:40%;border:dashed 9.45px #111;">
			<div class="text-center">
				<div class="h1" style="color:#dcdcdc;padding-bottom:2rem;">Create a new one</div>
				<a href="artical/new" class="btn" style="font-size:3.9rem"><i class="fa fa-plus" aria-hidden="true"></i></a>
			</div>
		</div>
	</div> <!-- row -->
	</div> <!-- container -->
</div>	<!-- container-fluid -->

<% include footer.ejs %>
