<br><br><br><br>
<div class="ft" style="background:rgba(255,255,255,0.1);
    filter: alpha(opacity=30);
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=30);
    -moz-opacity: 0.30;border-top:groove #000 2px;border-bottom:groove #000 2px;">  
    <!-- Footer -->
    <footer style="padding:1%;">
      <div class="container">
        <p class="m-0 text-center text-white">
          <i class="fa fa-connectdevelop" style="font-size:20px;" aria-hidden="true"> </i>
        &nbsp&nbspCopyright &copy; Kapoor'z Infotech 2018&nbsp&nbsp
          <i class="fa fa-connectdevelop" style="font-size:20px;" aria-hidden="true"> </i>
      </p>
      </div>
      <!-- /.container -->
    </footer>
</div>
<br><br><br>
</div> <!-- bdy -->
     
  </body>

</html>
