<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title%></title>
    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../packages/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

    <!-- Custom styles for this template -->
    <link href="../css/scrolling-nav.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="../js/jquery/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../js/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="../js/scrolling-nav.js"></script>
    

  </head>

  <body id="page-top">
<div class="bdym">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top hidden-print" id="mainNav" style="padding-top:.5%;padding-bottom:.6%;border:groove 5px #555 ;background:rgba(51,51,51,0.95) !important;">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/" style="font-size:20px;">
            <i class="fa fa-connectdevelop fa-spin" style="font-size:40px;" aria-hidden="true"></i>
            	&nbspKapoorz App 
    	</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/artical">Articals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/container">Container</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#"></a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
