<% include headm.ejs %> 
<style>
.divson{
		font-size:2.25rem;
		color:#000;
		font-weight: bold;
		border:#343a40 groove 6px;
		height:240px;
		width:60px;
		background:url('../images/b.jpg') no-repeat center center;
		transform: rotate(5deg);
}
.divson:hover{
		border:#000 dashed 9px;
		transform: rotate(0deg);
}
</style>
  <div class=" topSpace"></div>
    <header style="background:rgba(255,255,255,0.8);
    filter: alpha(opacity=30);
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=30);
    -moz-opacity: 0.30;border-top:groove #000 2px;border-bottom:groove #000 2px;">
      <div class="container text-center">
        <h1 style="color:rgba(0, 0, 0, +1.9)!important;">Welcome to Kapoor'z App</h1>
        <p class="lead">Does Best at your service</p>
      </div>
    </header>

    <div class="container-fluid topSpace">
      <div class="container">
      <div class="row">
          <div class="col-lg-2	 col-md-2	 col-sm-2	 col-xs-2	 divson text-center">
          	<br><br><br><br>Kapoor'z App				        
          </div>
          <div class="col-lg-1	 col-md-1	 col-sm-1	 col-xs-1	 "></div>
          <div class="col-lg-2	 col-md-2	 col-sm-2	 col-xs-2	 divson text-center">
          	<br><br><br><br>Kapoor'z App        
          </div>
          <div class="col-lg-1	 col-md-1	 col-sm-1	 col-xs-1	"></div>

          <div class="col-lg-2	 col-md-2	 col-sm-2	 col-xs-2	 divson text-center">
          	<br><br><br><br>Kapoor'z App        
          </div>
          <div class="col-lg-1	 col-md-1	 col-sm-1	 col-xs-1	"></div>

          <div class="col-lg-2	 col-md-2	 col-sm-2	 col-xs-2	 divson text-center">
          	<br><br><br><br>Kapoor'z App        
          </div>
      </div>

      </div>
  </div>
  <div class="topSpace"></div>
<div class="ft" style="border:groove 5px #555 ;background:rgba(51,51,51,0.9) !important;
    filter: alpha(opacity=30);
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=30);
    -moz-opacity: 0.30;border-top:groove #000 2px;">

    <!-- Footer -->
    <footer style="padding:1%;">
      <div class="container">
        <p class="m-0 text-center text-white">
          <i class="fa fa-connectdevelop" style="font-size:20px;" aria-hidden="true"> </i>
        &nbsp&nbspCopyright &copy; Kapoor'z Infotech 2018&nbsp&nbsp
          <i class="fa fa-connectdevelop" style="font-size:20px;" aria-hidden="true"> </i>
      </p>
      </div>
      <!-- /.container -->
    </footer>
</div>
<div style="background:inherit;width:100%;padding-top:2%;clear: both;"></div>
</div> <!-- bdy -->
</body>

</html>
  