body {
  /*padding: 50px;*/
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	/*background: url('http://www.publicdomainpictures.net/pictures/50000/velka/flower-meadow.jpg') no-repeat center center fixed;*/
}
.blklthr{
	/*background: url('../images/blklthr.jpg');*/
	border-radius:12% 5% 12% 5%;
	border:dashed 3px #999;
}
.blklthr:hover{
	-webkit-transition-delay: 0.5s ease-in; /* Safari */
    transition-delay: 0.5s ease-in;
	border-radius:5% 12% 5% 12%;

}
.bdy{
	/*height:100vh;*/
	position: absolute;
top: 0;
left: 0;
right:0;
bottom: 0;
		background: url('../images/leather.jpg') no-repeat center center fixed ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.panelLthr{
		background: url('../images/leather.jpg') no-repeat center center fixed ;
		color:#fff;
}
.bdym{
	/*height:100vh;*/
top: 0;
left: 0;
right:0;
bottom: 0;
	position: absolute;
	background: url('../images/bck.jpg') no-repeat center center fixed ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
/*overflow: h;*/
}
a {
  color: #00B7FF;
}
.topSpace{
	clear: both;
	 background:inherit;
	width: 100%;
	padding-top:10%;
	clear: both;
}
.top3{
	clear: both;
	 /*background:inherit;*/
	width: 100%;
	padding-top:5%;
	padding-bottom:4%;
	padding-right:3%;
	padding-left:3%;
	clear: both;
}
.hd
{
	border:groove 7px #aaa;
	border-radius:3%;
}
.control-label{
	font-size: 1.55rem;
	font-weight: normal;
}
.za{
	border:groove 7px #ccc;
	border-radius:1%;
	background:inherit!important;
	/*padding:5%;*/
	font-size:1.35rem;
}
.fmCTxt{
	width:25%!important;
	padding:2%; 
	font-size:inherit;
}
.fmCSelect{ 
	height:110% !important; 
	width:25%!important;
	padding:1%; 
	font-size:inherit;
}	/*
.fmCSelect:active,.fmCSelect:enabled,.fmCSelect:hover{
	background-color:#eee;

}*/
/*.fmCSelect:focus{
	font-style: oblique;
	background-color:#099;
	color: #fff;
	transition: background-color 0.80s ease-out;
}*/
hr
{
	margin-top: 2%;
	margin-bottom: 2%;
}
.rd
{
	font-size:inherit;
	font-weight:normal;
	margin-left:1% ; 
}
.subBtn{
	font-size:1.75rem;
	/*height:6%;*/
}
.panel-footer{
	margin-top: 2%;
	padding-top: 2%;
	background-color: #fff;
}
tbody,tbody tr{
	margin-left: auto;
	margin-right: auto;
	font-size:1.75rem;
	color:#000;
}
tr:hover{
	background: #444;
	color: #fff;
}
.checkbox{
	height:1.75rem;
	width:1.75rem;
}

/*#imge{
    top: 0px;
    left: 0px;
    height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;	
    opacity: .8;
    background: url('../images/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
    display:block;
}
*/